.pageTitle {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  font-size: 2vw;
  padding: 4px;
  border-radius: 50px;
  color: white;
}

@media (max-width: 1000px) {
  .pageTitle {
    font-size: 4vw;
    padding-top: 25px;
  }
}

.trending {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px 0;
}
